<div>
    <div class="event_div">
        <table class="table2">

            <tr>
                <td colspan="2"> <p class="theader">Selling my Tickets</p></td>
           
            </tr> 

            <tr>
                <td> <p class="pheader">Event Name</p></td>
                <td> <input type="text"></td>
            </tr>        
            <tr>        
                <td><p class="pheader">Ticket Number</p></td>
                <td> <input type="text"></td>
            </tr>
            <tr>   
                <td> <p class="pheader">Ticket Price</p></td>
                <td> <input type="text"></td>
            </tr>

            <tr>
                <td colspan="2"><button>Submit</button></td>
            </tr>
         
        </table>
    </div>
    
</div>