.event_div{
        width: 400px;
    top:200px;
    left: 100px;
    position: absolute;
    height: 600px;
}
.payment_div
{
    border-style:solid;
    width: 400px;
    top:150px;
    right: 100px;
    position: absolute;
    height: 400px;   
}

    

th{
       background-color: rgb(117, 162, 219);
}
td{
  
   
    padding: 5px; 
    text-align: center;
}

label{
    color: green;
}
.pheader
{
   color: blueviolet;
   padding: 0px;
   
 
}