<div>
<div class="event_div">
    <table class="table2" >
        <tr *ngFor="let tktevent of tktevents">
         
            <td> {{tktevent.event_name}}</td>
            <td>{{tktevent.Price}} </td>
            <td> <button (click)="BuyTicket($event, tktevent.event_name, abc)">Buy</button></td>
        
        </tr>
        <tr>
            <td colspan="3"> <label>{{cardno}}</label></td>
        </tr>
    </table>
</div>

    <app-payment [tkteventid]="eventname" (recieved)="paydetails($event)"></app-payment>
</div>

