
.ribbon{
    position: absolute;
    border:solid;
    width: 100%; 
}
.table1{
 padding: 2px;
 border-radius: 5px;
    background-color: rgb(203, 197, 203);
    position: absolute;
    top:100px;
    width: 97.5%; 
}

.th1{
    background-color:white;
    border:inset; 
    border-radius: 5px;
}


.button1{
    font-family:Helvetica;
    font-size: 15px;
    background-color: white;
    width: 100%;    
    border-radius: 5px;
}





